<!-- <div class="container">
  <div class="row">
    <div class="col-xs-6">
    <article class="sideSelector">
    </article>
  </div>
  <div class="col-xs-6">
    
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Orders</th>
        <th scope="col">Plan Id</th>
        <th scope="col">Service_resource_id</th>
        <th scope="col">Created</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of leads">
        <th scope="row">lead</th>
        <td>{{c.plan_id}}</td>
        <td>{{c.service_resource_id}}</td>
        <td>{{c.created}}</td>
        <td>{{c.status}}</td>
      </tr>
      <tr *ngFor="let c of followers">
        <th scope="row">followers</th>
        <td>{{c.plan_id}}</td>
        <td>{{c.service_resource_id}}</td>
        <td>{{c.created}}</td>
        <td>{{c.status}}</td>
      </tr>
    </tbody>
  </table>
  
  </div>
  </div>

</div> -->



<div class="container">
    <!-- search box -->
    <div class="row">
        <div class="col-md-12">
        <h2 style="text-align: center;">DATA TABLE</h2>
            <div id="custom-search-input"  style="margin-bottom: 20px;">
                <div class="input-group col-md-12">
                    <input type="text" style="margin-bottom: 0px;" class="form-control input-lg"  placeholder="search text goes here" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="navbar-toggler-icon fa fa-bars"> </i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
  </div>
  
  <!-- content part -->
    <div class="row circle-records-container">
  <div class="col-6 circle-outer-container">
  <!-- <div class="circle-container" *ngFor="let c of CircleNames let k = index"> -->
      <article class="sideSelector">
        </article>
  <!-- </div> -->
  </div>
  <div class="col-6 records-container">
    <div class= "col-12">
        <div class="record-container" *ngIf="leads.length<1">
      <div class="no-records">NO RECORDS AVAILABLE....</div>
    </div>
      <div class="record-container" *ngFor="let l of leads">
          <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                      <th>NAME</th>
                      <th>PLAN ID</th>
                      <th>CREATED</th>
                      <th>STATUS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{l.name}}</td>
                    <td>{{l.plan_id}}</td>
                    <td>{{l.created}}</td>
                    <td>{{l.status}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
  </div>
  